.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}
.Login{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-image: url('./image/login_bg.jpg');
  background-size: cover;
  background-position: center;
}
.logo_Image{
  width: 200px;
}
.Login_Content{
  background: #ffffff;
  box-shadow: 1px 2px 3px #000;
  width: 400px;
  padding: 20px 40px;
  margin-top: 20px;
}
.Login_header_tip{
  color: #418df5;
}
.pic_image{
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: 1px solid #000;
}
.Login_Center_input{
  height: 40px;
  padding: 0 10px;
  margin-bottom: 10px;
  background: #e8f0fd;
}
.inputName{
  flex: 1;
  height: 100%;
  border: 0;
  background: #fff0;
  outline:none;
}
.button_Name{
  background: #2d90ff;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  height: 40px;
  border-radius: 5px;
  width: 100%;
  line-height: 40px;
}
.code_Name{
  width: 100px;
  color: #ffffff;
  background: #fff;
  color: #2d90ff;
  -webkit-appearance: none;
  height: 30px;
  outline:none;
}